{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary" role="button" aria-disabled="true" href="{% url "coursedata:create_student" %}">New student</a>
<h1>List of Students</h1>


<table class="table table-light">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student full name</th>
            <th>Student create date</th>
            <th>Student status</th>
            <th>Student phone</th>
            <th>Group operation</th>
            <th>Group operation</th>
        </tr>
    </thead>
      <tbody>
      

    {% for student in student_list %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.student_fio }}</td>
            <td>{{ student.student_create_date }}</td>
            <td>{{ student.student_active }}</td>
            <td>{{ student.student_phone }}</td>
            
            <td><a class="btn btn-success" role="button" href="/coursedata/student_update/{{student.id}}">Update</a></td>
            <td><a class="btn btn-danger" role="button" href="/coursedata/student_delete/{{student.id}}">Delete</a></td>
        </tr>

    {% endfor %}
    </tbody>
</table>

     
{% endblock %}


<!-- <li>
    <a href="/coursedata/group_detail/{{group.id}}">{{ group.group_name }} </a>
    
    
</li>
    <ul>
        <li><a href="/coursedata/group_update/{{group.id}}">Update Information</a></li>
        <li><a href="/classroom/group_delete/{{group.id}}">Delete Information</a></li>
    </ul>
 -->
